<header>
    <div class="logo">
        <a routerLink="/home"> <img class="logo-img" src="https://th.bing.com/th/id/OIP.EFsPW0OON8XzlGUCqDtHPAHaHd?rs=1&pid=ImgDetMain" alt=""> </a>
        <h1></h1>
    </div>
    <nav>
      <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="about">About me</a></li>
        <li><a routerLink="my-work">My work</a></li>
        <button class="cv-dow" (click)="downloadCV()">Download CV</button>
        
                
        <!-- <li><a routerLink="https://t.me/Azizbek_2004_11_19">Contact me</a></li> -->
      </ul>
    </nav>
  </header>

  
  