<div class="container">
    <section class="footer">
        
        <div > 
            <h2 class="owner">Sharipov Azizbek</h2>

        </div>
        
        
        <div class="footer-elem">
            <a class="footer-logo" href="https://t.me/Azizbek_2004_11_19"><img class="footer-img" src="https://kun.uz/assets/1a256e39/img/social-telegram.svg" width="28" height="20" alt=""></a>
            <a class="footer-logo" href="https://www.youtube.com/@AzizbekSharipov-tz9og"><img class="footer-img" src="https://kun.uz/assets/1a256e39/img/social-youtube.svg" width="28" height="20" alt=""></a>
            <a class="footer-logo" href="https://www.instagram.com/azizbek_sharipov_7/"><img class="footer-img" src="https://kun.uz/assets/1a256e39/img/social-instagram.svg" width="28" height="20" alt=""></a>
            <a class="footer-logo" href="https://github.com/azizbeksharipov7"><img class="footer-img-git" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" width="30" height="23" alt=""></a>
        </div>
        
    </section>
</div>