.example-card {
    max-width: 400px;
    margin-top: 20px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .View{
    text-decoration: none;
  background-color: orange;
  padding: 8px 16px;
  border-radius: 14px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-color: white;
  }

  .View:hover{
    background-color: #1677a4;
    border-radius: 14px;
    color: white;
    border-color: white;
  }
  