<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>My work</mat-card-title>
      <mat-card-subtitle>My future</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://media.ambito.com/p/790a28659da9880d5da7c3db5967f275/adjuntos/239/imagenes/039/373/0039373877/1200x675/smart/tecnologiajpg.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Men frontend dasturlashga oid juda ko'p loyihalarni qilganman. Ularning aksariyatini men o'z GITHUB sahifamga joylaganman. Siz pastdagi tugmani bosish orqali ular bilan tanishib chiqishingiz mumkin.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="View" onclick="window.location.href='https://github.com/azizbeksharipov7';" mat-button>CLICK HERE</button>
    </mat-card-actions>
  </mat-card>
  