<div class="container">
    <section class="banner" >
        <div  class="text-1">Hello, my name is</div><hr> 
        <div class="text-2"><span class="s">A</span><span class="u">Z</span><span class="a">I</span> <span class="l">Z</span><span class="o">B</span><span class="m">E</span><span class="m">K</span></div><hr> 
        <div class="text-3">And I'm <h1><div class="text_2">a student and developer</div></h1></div>
        <a href="https://t.me/Azizbek_2004_11_19">Contact Me</a>
        </section>
</div>